<p>List of drinks</p>
<div class="form-group form-inline">
  Search (<code>Press enter to search</code>) <input style="margin-left: 40px;" class="form-control ml-4" type="text" placeholder="name,categroy,ing1,ing2" name="filter" [(ngModel)]="filterText" (keyup.Enter)="triggerFilter()"/>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th *ngFor="let header of itemKeys | sortColumns" (click)="onSort(header)">
      {{ header | uppercase }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let drink of sortedDrinks; index as i">
    <td>
      {{ drink.Name }}
    </td>
    <td>{{ drink.Category }}</td>
    <td>{{ drink.Tags }}</td>
    <td>{{ drink.Ingredient1 }}</td>
    <td>{{ drink.Ingredient2 }}</td>
    <td>{{ drink.Ingredient3 }}</td>
  </tr>
  </tbody>
</table>
